.x_and_o {
background-color: rgb(83, 78, 78);
width: 40px;
height: 40px;
display: inline-block;

border:2px black dashed;
}
.equis {
    background-color: rgb(33, 156, 74);
    width: 40px;
    height: 40px;
    display: inline-block;
    
    border:2px black dashed;
}
.o{    background-color: rgb(131, 35, 35);
    width: 40px;
    height: 40px;
    display: inline-block;
    
    border:2px black dashed;
}

.nada{
    background-color: rgb(128, 128, 128);
}